%p コメント数：#{comments.count}件
- comments.each do |comment|
  - unless comment.id.nil?
    .comment-container
      .comment-box
        .tweet_comment
          .tweet_comment_image
            = link_to account_path(comment.user.id) do
              = image_tag comment.user.avatar_image
          .tweet_comment_information
            .tweet_comment_information_account
              = link_to "@#{comment.user.account}", account_path(comment.user.id)
              .tweet_comment_information_item
                - if comment.user.gender
                  #{I18n.t("enum.genders.#{comment.user.gender}")}・
                - if comment.user.age
                  #{I18n.t("enum.ages.#{comment.user.age}")}・
                - if comment.user.type
                  #{I18n.t("enum.types.#{comment.user.type}")}
        .tweet_comment_content
          = comment.content
          - if current_user.admin? || (current_user == comment.user)
            = link_to tweet_comment_path(comment.tweet_id, comment.id), method: :delete, remote: true, data: { :confirm => '本当に削除してもよろしいですか？'} do
              %i.fa.fa-trash.comment-deletebtn{:style => "color: black;"}
          %span.comment-date.pull-right.small.text-muted
            = comment.created_at.strftime('%Y/%m/%d %H:%M:%S')
          %hr/
