= link_to tweet_path(tweet) do
  .card
    .card_image
    .card_content
      .card_title
        = tweet.content
      .card_heart
        = image_tag 'heart.svg'
        %span 23
      .card_detail
        = image_tag 'default-avatar.png'
        %div
          %p daisuke1225
          %p= tweet.display_created_at