.tweet
  .tweet_detail
    = image_tag 'default-avatar.png'
    %div
      %p naba1225
      %p 2021/2/19
    .tweet_detail_actions
      .dropdown
        = image_tag 'actions.svg', class: 'dropbtn'
        .dropdown-content.mini
          = link_to '編集する', edit_tweet_path(@tweet)
  .tweet_content
    = @tweet.content
  .tweet_heart
    = image_tag 'heart.svg'
