.container
  .tweet#tweet-show{data: {tweet_id: @tweet.id} } 
    .tweet_detail
      = link_to account_path(@tweet.user) do
        = image_tag @tweet.user.avatar_image
      .tweet_detail_introduction
        .tweet_detail_introduction_personal
          = link_to account_path(@tweet.user) do
            .tweet_detail_introduction_personal_account
              #{@tweet.user.account}
              .tweet_detail_introduction_personal_item
                - if @tweet.user.gender
                  #{I18n.t("enum.genders.#{@tweet.user.gender}")}・
                - if @tweet.user.age
                  #{I18n.t("enum.ages.#{@tweet.user.age}")}・
                - if @tweet.user.type
                  #{I18n.t("enum.types.#{@tweet.user.type}")}
      - if (user_signed_in? && current_user.has_written?(@tweet)) || current_user.admin?
        .tweet_detail_actions
          .dropdown
            = image_tag 'actions.svg', class: 'dropBtn'
            .dropdown-content.mini
              - if current_user == @tweet.user
                = link_to '編集する', edit_tweet_path(@tweet)
              - if current_user.admin? || (current_user == @tweet.user)
                = link_to "削除する", tweet_path(@tweet), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }
    .tweet_content
      = safe_join(@tweet.content.split("\n"),tag(:br))
    - if @tweet.eyecatch.attached?
      .tweet_image
        = link_to @tweet.eyecatch, 'data-lightbox': @tweet.eyecatch do
          = image_tag @tweet.eyecatch
    .tweet_time.text-muted.text-left
      = @tweet.created_at.strftime('%Y/%m/%d %H:%M')
    - if user_signed_in?
      .tweet_heart.hidden.active-heart
        = image_tag 'heart-active.svg', class: 'img-active-heart'
      .tweet_heart.hidden.inactive-heart
        = image_tag 'heart.svg', class: 'img-inactive-heart'
      .tweet_heart_count#hearts_count
        = @tweet.likes.count
    
  .comment-title
    .tweet_comment_title
      %h2 <i class="fa fa-comment-o fa-lg" aria-hidden="true"></i> コメント
  .tweet#comments_area
    = render partial: 'comments/index', locals: { comments: @comments }
  #error_explanation
  - if user_signed_in?
    .tweet_comment_create
      %h3.text-left コメントを投稿
      = render partial: 'comments/form', locals: { comment: @comment, tweet: @tweet }

= javascript_pack_tag 'tweet'
