.tweet#tweet-show{data: {tweet_id: @tweet.id}}
  - if @tweet.eyecatch.attached?
    .tweet_image
      = image_tag @tweet.eyecatch
  .tweet_detail
    = link_to account_path(@tweet.user) do
      = image_tag @tweet.user.avatar_image
    %div
      %p= @tweet.user.account
      %p= @tweet.display_created_at
    - if user_signed_in? && current_user.has_written?(@tweet)
      .tweet_detail_actions
        .dropdown
          = image_tag 'actions.svg', class: 'dropbtn'
          .dropdown-content.mini
            = link_to '編集する', edit_tweet_path(@tweet)
            = link_to '削除する', tweet_path(@tweet), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }
  .tweet_content
    = @tweet.content
  - if user_signed_in?
    .tweet_heart.hidden.active-heart
      = image_tag 'heart-active.svg'
    .tweet_heart.hidden.inactive-heart
      = image_tag 'heart.svg'
  
.tweet
  %h2=I18n.t('tweets.comment_list')
  .comments-container

.container
  .btn-secondary.show-comment-form
    コメントを追加
  .comment-text-area.hidden
    = text_area_tag :comment_content, '', class: 'sm'
    .btn-secondary.add-comment-button
      コメントを追加

= javascript_pack_tag 'tweet'