.container.profilePage
  .profilePage_user
    .profilePage_user_image
      = image_tag user.avatar_image
    .profilePage_user_basicInfo
      .profilePage_user_name
        .profilePage_user_displayName
          #{current_user.account}（#{I18n.t("enum.genders.#{current_user.gender}")}・#{I18n.t("enum.ages.#{current_user.age}")}・#{I18n.t("enum.types.#{current_user.type}")}）
        .profilePage_user_actionButton
          - if user == current_user
            = link_to 'Edit', edit_profile_path
          - else
            - if current_user&.has_followed?(user)
              = link_to 'UnFollow', account_unfollows_path(user), data: {method: 'post'}
            - else 
              = link_to 'Follow', account_follows_path(user), data: {method: 'post'}
      .profilePage_user_introduction
        = user.profile&.introduction
  - user.tweets.each do  |tweet|
    = render 'commons/tweet', tweet: tweet