.container.profilePage
  .profilePage_user
    .profilePage_user_image
      = image_tag user.avatar_image
    .profilePage_user_basicInfo
      .profilePage_user_name
        .profilePage_user_displayName
          #{user.account}
        .profilePage_user_actionButton
          - if user == current_user
            = link_to 'Edit', edit_profile_path
          - else
            .profilePage_followbtn
              .profilePage_followbtn_following.following.hidden.text-primary
                フォロー中
              .profilePage_followbtn_follow.follow.hidden
                フォローする
      - if user.gender
        #{I18n.t("enum.genders.#{user.gender}")}
      - if user.age
        ・#{I18n.t("enum.ages.#{user.age}")}
      - if user.type
        ・#{I18n.t("enum.types.#{user.type}")}
      .profilePage_user_follow_count
        = link_to account_followings_path(user) do
          .profilePage_follower_text
            フォロー中 :
        .profilePage_following_count
          %p= user.followings.count
        = link_to  account_follows_path(user) do
          .profilePage_follower_text
            フォロワー :
        .profilePage_follower_count#follower_count
          %p= user.followers.count

      .profilePage_user_introduction
        = simple_format(user.profile&.introduction)
  - user.tweets.each do  |tweet|
    = render 'commons/tweet', tweet: tweet
