.tabs
  .tabs_item{class: "#{add_active_class(root_path)}"}
    = link_to 'ALL', root_path
  .tabs_item{class: "#{add_active_class(timeline_path)}"}
    = link_to (timeline_path) do
      %i.fa.fa-user-circle-o{"aria-hidden" => "true"} &nbsp;フォロー中
  .tabs_item{class: "#{add_active_class(popular_post_path)}"}
    = link_to (popular_post_path) do
      .tabs_item_popular
        %i.fa.fa-line-chart{"aria-hidden" => "true"} &nbsp;人気
