.tabs
  .tabs_item{class: "#{add_active_class(root_path)}"}
    = link_to '全て', root_path
  .tabs_item{class: "#{add_active_class(timeline_path)}"}
    = link_to 'フォロー中', timeline_path
  .tabs_item{class: "#{add_active_class(popular_post_path)}"}
    = link_to '人気', popular_post_path