= link_to tweet_path(tweet) do
  .card
    - if tweet.eyecatch.attached?
      .card_image
        = image_tag tweet.eyecatch
    .card_content
      .card_title
        = tweet.content
      .card_heart
        = image_tag 'heart.svg'
        %span= tweet.like_count
      .card_detail
        = image_tag tweet.user.avatar_image
        %div
          #{current_user.account}（#{I18n.t("enum.genders.#{current_user.gender}")}・#{I18n.t("enum.ages.#{current_user.age}")}・#{I18n.t("enum.types.#{current_user.type}")}）
