= link_to tweet_path(tweet) do
  .card
    - if tweet.eyecatch.attached?
      .card_image
        = image_tag tweet.eyecatch
    .card_content
      .card_title
        = tweet.content
      .card_heart
        = image_tag 'heart.svg'
        %span= tweet.like_count
      .card_detail
        = image_tag tweet.user.avatar_image
        .card_detail_introduction
          .card_detail_introduction_personal
            %div
              #{tweet.user.account}
            %div
              （
            - if tweet.user.gender
              #{I18n.t("enum.genders.#{tweet.user.gender}")}
            - if tweet.user.age
              ・#{I18n.t("enum.ages.#{tweet.user.age}")}
            - if tweet.user.type
              ・#{I18n.t("enum.types.#{tweet.user.type}")}
            %div
              ）
          .card_time.small.text-muted.text-left
            = time_ago_in_words(tweet.created_at).upcase