= link_to tweet_path(tweet) do
  .card
    .card_element
      .card_content
        = tweet.content
      - if tweet.eyecatch.attached?
        .card_image
          = image_tag tweet.eyecatch
      .card_item
        .card_various-count
          .card_heart
            %i.fa.fa-heart-o{"aria-hidden" => "true"}
            %span= tweet.like_count
          .card_comment
            %i.fa.fa-commenting-o{"aria-hidden" => "true"}
            %span= tweet.comments.count
        .card_detail
          = image_tag tweet.user.avatar_image
          .card_detail_introduction
            .card_detail_introduction_personal
              .card_detail_introduction_personal_account
                #{tweet.user.account}
                .card_detail_introduction_personal_item
                  - if tweet.user.gender
                    #{I18n.t("enum.genders.#{tweet.user.gender}")}
                  - if tweet.user.age
                    ・#{I18n.t("enum.ages.#{tweet.user.age}")}
                  - if tweet.user.type
                    ・#{I18n.t("enum.types.#{tweet.user.type}")}
            .card_time.small.text-muted.text-right
              = tweet.created_at.strftime('%Y/%m/%d')
